<ion-view view-title="Level Select">
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Level Select</h1>
  </ion-header-bar>
  <ion-content class="has-header" padding="true">
    <div class="container">
      <div class="row">
        <!-- Populated automatically by javascript -->
        <table class="levelTable"></table>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar class="bar bar-footer bar-stable" align-title="left">
    <a class="button ion-home" href="#/main">&nbsp; BACK</a>
  </ion-footer-bar>
</ion-view>
