<ion-view view-title="Level">
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Level</h1>
  </ion-header-bar>
  <ion-content class="has-header" padding="true">
    <div class="container">
      <div class="row">
        <div class="levelGame">
          <button class="button button-assertive levelBtn" ng-click="completeLevel()">&nbsp Click Me!</button>
        </div>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar class="bar bar-footer bar-stable" align-title="left">
    <a class="button ion-home" href="#/level_select">&nbsp; BACK</a>
    <button class="button button-calm" ng-click="restart()">&nbsp; RESTART</button>
  </ion-footer-bar>
</ion-view>
