*
# Except these extensions
!.gitignore
!*.html
!*.js
!*.scala
!*.java
!*/
# Except except these folders
cls_sbt/target/
node_modules/
hooks/
platforms/
plugins/
gulpfile.js
www/js/
www/templates/
www/index.html
