# Ignore everything
*
# Except these extensions
!.gitignore
!*.html
!*.js
!*.scala
!*.java
!*/
# Except these folders
cls_sbt/target/
www/lib/
node_modules/
hooks/
platforms/
plugins/
gulpfile.js
www/css/style.css
