@(radioButtons:(String, Array[String], Array[String]) => Html, checkBoxes:(Array[String], Array[String]) => Html, button:(String, String, String) => Html, toggle:(String, String) => Html, range:(Int, Int, String, String, String, String, String) => Html)
<div class="row">
  <div class="col" style="text-align:center">
    @toggle("frankenVars.toggle", "Alive?")
  </div>
</div>
<div class="row">
  <div class="col" style="text-align:center">
    @radioButtons("frankenVars.rBox", Array("'Check Me'", "'Do not'", "'Do not'"), Array("Check Me", "Do not", "Do not"))
  </div>
</div>
<div class="row">
  <div class="col" style="text-align:center">
    @checkBoxes(Array("frankenVars.cBox1", "frankenVars.cBox2", "frankenVars.cBox3"), Array("REEEED", "GREEEEEN", "Blue"))
  </div>
</div>
<div class="row">
  <div class="col" style="text-align:center">
    @range(0, 75, "ion-flash-off", "ion-flash", "power", "frankenVars.range1", "rangeCallbackFcn")
  </div>
</div>
<div class="row">
  <div class="col" style="text-align:center">
    @button("checkComplete", "Click Me!", "assertive")
  </div>
</div>
