@(button:(String, String, String) => Html)

<div class= "item row">
  <div ng-repeat="letter in myLetters track by $index">
    <div class= "guessable {{levelNum}} {{letter}}">{{letter}}</div>
  </div>
</div>
<br>
<div class="row">
  <ion-input class="item item-input item-stacked-label">
    <input type="text" maxLength="1" class= "letterguess" id="letterguess_{{levelNum}}" placeholder="Guess a letter here">
  </ion-input>
  &nbsp; @button("makeGuess", "Guess", "positive")
</div>

<h4>Guessed Letters:</h4>
  <div class = "row" id="guessed_{{levelNum}}"></div>
<h4>Tries Left: {{guessesLeft}}</h4>
