@(range:(String, String, String, String, String, String, String) => Html)
<div class="row">
  @range("0", "1", "", "", "slider_{{levelNum}}_0", "test.blah0", "callback")
</div><div class="row">
  @range("0", "1", "", "", "slider_{{levelNum}}_1", "test.blah1", "callback")
</div><div class="row">
  @range("0", "1", "", "", "slider_{{levelNum}}_2", "test.blah2", "callback")
</div><div class="row">
  @range("0", "1", "", "", "slider_{{levelNum}}_3", "test.blah3", "callback")
</div><div class="row">
  @range("0", "1", "", "", "slider_{{levelNum}}_4", "test.blah4", "callback")
</div>