<ion-view view-title="Options">
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Options</h1>
  </ion-header-bar>
  <ion-content class="padding has-header">
    <div class="item range">
      MUSIC &nbsp;
      <i class="icon ion-volume-low"></i>
      <input type="range" name="music" min="0" max="100" value="100">
      <i class="icon ion-volume-high"></i>
    </div>

    <div class="item range">
      SFX &nbsp;
      <i class="icon ion-volume-low"></i>
      <input type="range" name="sfx" min="0" max="100" value="100">
      <i class="icon ion-volume-high"></i>
    </div>

    <div class="row">
      <button class="button button-assertive" ng-click="resetSQL()">Reset Progress</button>
    </div>
  </ion-content>

  <ion-footer-bar class="bar bar-footer bar-stable" align-title="left">
    <a class="button ion-home" href="#/main">&nbsp; BACK</a>
  </ion-footer-bar>
</ion-view>
