<style>
	guessable {
				color : "rgba(0, 0, 0, 0)";
				width : "30px";
				border : "thin solid black";
				backgroundColor : "powderblue";}

	discovered {
				color : "rgba(0, 0, 0, 0)";
				width : "30px";
				border : "thin solid black";
				backgroundColor : "powderblue";}
</style>

<ion-view view-title="Level {{levelNum}}">
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Level {{levelNum}}</h1>
  </ion-header-bar>
  <ion-content class="has-header" padding="true">
    <div class="row">
  		<div class="item" ng-repeat="letter in letters track by $index">
  			<div class="col guessable {{levelNum}} {{letter}}"></div>
  		</div>
  	</div>
  	<div class="row" id="guessed_{{levelNum}}">Guessed Letters:</div>
    <div class="row">
      <input maxLength="1" class="item item-input" id="letterguess_{{levelNum}}" placeholder="Guess a letter">
			&nbsp;
			<button class="button button-positive" ng-click="makeGuess()">Submit</button>
		</div>

  </ion-content>
  <ion-footer-bar class="bar bar-footer bar-stable" align-title="left">
    <a class="button ion-home" href="#/level_select">&nbsp; BACK</a>
    <button class="button button-calm" ng-click="restart()">&nbsp; RESTART</button>
  </ion-footer-bar>
</ion-view>
