<ion-view view-title="Level Select">
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Level Select</h1>
  </ion-header-bar>
  <ion-content class="has-header" padding="true">
    <div class="container">
      <!-- Here's where a bit of magic happens: Ionic will populate this table
        with all the levels in the "$scope.levels" variable, and it fills them
        according to the pattern we specified with {{level}}.
      -->
      <div class="row unlimited-items">
        <div class="col" ng-repeat="(k, v) in levels">
          <a class="button button-stable" ng-click="loadLevel({{k}})" id="level_{{k}}">{{k}}</a>
        </div>
      </div>
    </div>
  </div>

  </ion-content>
  <ion-footer-bar class="bar bar-footer bar-stable" align-title="left">
    <a class="button ion-home" href="#/main">&nbsp; BACK</a>
  </ion-footer-bar>
</ion-view>
